In [1]:
import pandas as pd

In [8]:
df_green_2015 = pd.read_parquet('data/raw_nyc_taxi_data_green_taxi_data_green_tripdata_2015-11.parquet', engine='pyarrow')
df_green_2015_10 = pd.read_parquet('data/raw_nyc_taxi_data_green_taxi_data_green_tripdata_2015-10.parquet', engine='pyarrow')

In [5]:
df_green_2015.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2015-11-01 00:10:24,2015-11-01 00:14:14,N,1,112,255,1,1.00,5.0,0.5,0.5,1.58,0.0,None,0.3,7.88,1,1,None
1,2,2015-11-01 00:18:16,2015-11-01 00:25:12,N,1,112,112,1,0.56,6.0,0.5,0.5,1.46,0.0,None,0.3,8.76,1,1,None
2,2,2015-11-01 00:30:38,2015-11-01 01:01:17,N,1,112,148,1,3.98,21.5,0.5,0.5,4.56,0.0,None,0.3,27.36,1,1,None
3,1,2015-11-01 00:04:32,2015-11-01 00:40:29,N,1,188,230,1,10.00,34.5,0.5,0.5,0.00,0.0,None,0.3,35.80,1,1,None
4,2,2015-11-01 00:42:19,2015-11-01 00:42:23,N,5,76,76,1,0.00,7.0,0.0,0.0,0.00,0.0,None,0.0,7.00,2,2,None

In [9]:
df_green_2015_10.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2015-10-01 00:38:37,2015-10-01 00:38:41,N,1,193,193,1,0.00,2.5,0.5,0.5,0.00,0.0,None,0.3,3.80,1,1.0,None
1,2,2015-10-01 00:39:30,2015-10-01 00:39:33,N,1,193,193,1,0.00,2.5,0.5,0.5,0.00,0.0,None,0.3,3.80,1,1.0,None
2,2,2015-10-01 00:04:54,2015-10-01 00:10:38,N,1,255,256,1,0.87,5.5,0.5,0.5,0.00,0.0,None,0.3,6.80,2,1.0,None
3,2,2015-10-01 00:26:17,2015-10-01 00:40:50,N,1,255,61,1,3.49,13.0,0.5,0.5,2.86,0.0,None,0.3,17.16,1,1.0,None
4,2,2015-10-01 00:53:39,2015-10-01 00:59:54,N,1,181,49,1,1.26,6.5,0.5,0.5,0.00,0.0,None,0.3,7.80,2,1.0,None

In [11]:
df_green_2015['trip_type'].isnull().sum()
df_green_2015['trip_type'] = df_green_2015['trip_type'].astype('float64')

In [13]:
df_green_2015.to_parquet('data/green_tripdata_2015-11.parquet', engine='pyarrow')

In [14]:
df_green_2015_processed = pd.read_parquet('data/green_tripdata_2015-11.parquet', engine='pyarrow')
df_green_2015_processed.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2015-11-01 00:10:24,2015-11-01 00:14:14,N,1,112,255,1,1.00,5.0,0.5,0.5,1.58,0.0,None,0.3,7.88,1,1.0,None
1,2,2015-11-01 00:18:16,2015-11-01 00:25:12,N,1,112,112,1,0.56,6.0,0.5,0.5,1.46,0.0,None,0.3,8.76,1,1.0,None
2,2,2015-11-01 00:30:38,2015-11-01 01:01:17,N,1,112,148,1,3.98,21.5,0.5,0.5,4.56,0.0,None,0.3,27.36,1,1.0,None
3,1,2015-11-01 00:04:32,2015-11-01 00:40:29,N,1,188,230,1,10.00,34.5,0.5,0.5,0.00,0.0,None,0.3,35.80,1,1.0,None
4,2,2015-11-01 00:42:19,2015-11-01 00:42:23,N,5,76,76,1,0.00,7.0,0.0,0.0,0.00,0.0,None,0.0,7.00,2,2.0,None